html {
  background-image: url("../media/img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.box_1 {
  padding: 10px;
  margin-top: 5%;
  width: 40%;
  max-width: 500px;
  background: linear-gradient(135deg, red 97%, transparent 5%);
  position: relative;
  height: 0;
}

.box_2 {
  padding: 10px;
  margin-top: 5%;
  width: 40%;
  max-width: 500px;
  background: linear-gradient(135deg, red 98%, transparent 2%);
  position: relative;
  height: 0;
}

.box_1::before,
.box_2::before {
  content: "";
  left: 0;
  background: linear-gradient(135deg, transparent 10%, red 10%);
  position: absolute;
  width: 100%;
  height: 15px;
  top: -15px;
  z-index: 1;
}

footer {
  display: flex;
  justify-content: start;
  padding: 10px;
  width: 100%;
  left: -25px;
  bottom: 0;
  position: fixed;
  background-color: red;
  box-shadow: 6px 0px 0px #00e6f6;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}

footer::before {
  content: "";
  left: 0;
  background: linear-gradient(45deg, red 10%, transparent 10%);
  position: absolute;
  width: 1500px;
  height: 15px;
  top: -15px;
}

a {
  text-decoration: none;
  color: black;
}

.button_home {
  margin-left: 34px;
  height: 2em;
  a:hover {
    text-shadow: 0 0 1px #fff, 0 0 10px #00e6f6;
    color: #00e6f6;
  }
}

@keyframes growHeight {
  from {
    height: 0;
  }
  to {
    height: 500px;
  }
}

@keyframes growHeight2 {
  from {
    height: 0;
  }
  to {
    height: 700px;
  }
}

.grow-height {
  animation: growHeight 0.7s ease-out forwards;
}

.grow-height2 {
  animation: growHeight2 0.7s ease-out forwards;
}

@media screen and (max-width: 576px) {
  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .box_1,
  .box_2 {
    margin-bottom: 30px;
    width: 90%;
    height: 300px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 40px;
    background: linear-gradient(135deg, red 97%, transparent 5%);
    position: relative;
    transform: scale(0);
    transition: transform 0.4s ease-in;
  }
}
