@font-face {
  font-family: clock;
  src: url(../media/fonts/Prototype.ttf);
}

html {
  background-image: url("../media/img/backgroung.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.fixed-logo {
  position: fixed;
  top: 3px;
  left: 3px;
  width: 25px;
  height: 25px;
  z-index: 1000;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0;

}

@keyframes grow_width {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 40%;
    opacity: 1;
  }
}

.grow_Width {
  animation: grow_width 0.3s ease-out forwards;
}

#pro_1,
#pro_2,
#pro_3,
#pro_4,
#pro_5 {
  margin-top: 0.5em;
  background-color: black;
  width: 2.5em;
  height: 2.5em;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 3px;
  img {
    width: auto;
    height: 90%;
  }
}

#pro_1:hover,
#pro_2:hover,
#pro_3:hover,
#pro_4:hover,
#pro_5:hover {
  width: 3.5em;
  transition: width 0.3s ease-out;
}

@keyframes grow_project {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}

.expanded {
  animation: grow_project 0.3s ease-out forwards;
}

.box_1 {
  opacity: 0;
  padding: 10px;
  margin-top: 5%;
  height: fit-content;
  background: linear-gradient(135deg, #00e6f6 98%, transparent 5%);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 25px;
  > h3 {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 3px;
    margin-bottom: 5px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.box_1::before {
  content: "";
  left: 0;
  background: linear-gradient(45deg, #00e6f6 10%, transparent 10%);
  position: absolute;
  width: 700%;
  height: 15px;
  top: -15px;
  z-index: 1;
}

.box_1::after {
  content: "";
  left: 0;
  background: linear-gradient(135deg, #00e6f6 10%, transparent 10%);
  position: absolute;
  width: 300%;
  height: 15px;
  top: 100%;
  z-index: 1;
}

.project_container {
  margin-top: 5em;
  margin-left: 15%;
  width: 20em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #00e6f6 98%, transparent 5%);
}

#project {
  background: linear-gradient(135deg, #00e6f6 98%, transparent 5%);
  background-size: contain;
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  letter-spacing: 3px;
}

.container div .text {
  display: none;
}

.container div.expanded .text {
  display: block;
  color: white;
  font-size: 24px;
  letter-spacing: 3px;
  margin-left: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: fit-content;
  bottom: 0;
  position: fixed;
  background-color: #00e6f6;
  font-family: Arial, Helvetica, sans-serif;
}

footer::before {
  content: "";
  left: 0;
  background: linear-gradient(45deg, #00e6f6 10%, transparent 10%);
  position: absolute;
  width: 1500px;
  height: 15px;
  top: -15px;
}

.social_container {
  display: flex;
  align-items: center;
  width: 100%;
}

.social_list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;

  li {
    margin-left: 1em;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(
      45deg,
      transparent 5%,
      #00a8b4 5%,
      #00a8b4 95%,
      transparent 5%
    );

    img {
      width: 40px;
      height: auto;
    }
  }
}

.social_list li:hover {
  background: linear-gradient(
    45deg,
    transparent 5%,
    black 5%,
    black 95%,
    transparent 5%
  );
  img {
    filter: invert(80%) sepia(17%) saturate(5007%) hue-rotate(130deg)
      brightness(93%) contrast(109%);
  }
}

.button_home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.9em;
  margin-top: 0.1em;
  margin-left: 0.5em;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(45deg, #00a8b4 95%, transparent 5%);
  a {
    letter-spacing: 2px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
}

.button_home:hover {
  background: linear-gradient(45deg, black 95%, transparent 5%);
  a {
    color: #00e6f6;
  }
}

.clock_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    45deg,
    transparent 5%,
    #00a8b4 5%,
    #00a8b4 95%,
    transparent 5%
  );

  margin-right: 1em;
  padding: 10px;
  width: 200px;
  height: 2em;
  font-family: clock;
  font-size: 1.5em;

  #clock {
    text-align: center;
    width: 100%;
    height: 100%;
  }
  #date {
    text-align: center;
    width: 100%;
    height: 100%;
  }
}

/* @media screen and (max-width: 576px) {
  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  footer {
    display: flex;
    justify-content: end;
    flex-direction: column;
    position: fixed;
    width: 50%;
    background: linear-gradient(45deg, #00e6f6 97%, transparent 10%);
  }

  .social_list {
    display: flex;
    flex-direction: column;
  }

  footer {
    height: 16em;
  }

  footer::before {
    content: none;
  }

  .button_home {
    font-size: 20px;
    width: 4em;
  }

  .social_list li {
    max-width: 7em;
  }
} */
